body {
    background-color: #000;
}
.main-header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url('../IMG/66502407_497285447707154_4711575468694831104_n.png');
    background-size: cover;
}
.header-container {
    width: 80%;
    height: 100vh;
    position: relative;
}
.back-ground-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
}
.menu-bar {
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 5.5rem;
}
.menu-bar .main-title {
    font-family: "IBM Plex Sans Condensed";
    font-size: 4.5rem;
}
.menu-bar .hamburger-menu-icon {
    font-size: 3.5rem;
    cursor: pointer;
}
.main-content {
    width: 75%;
    position: relative;
    margin-top: 10rem;
    color: #fff;
}
.main-content .main-content-title {
    font-family: "IBM Plex Sans Condensed";
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.main-content .main-content-text {
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
}
.buttons-container {
    margin-top: 3rem;
} 
.buttons-container .button {
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: transparent;
    font-weight: bold;
    border: 0.1rem solid #fff;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
}
.button:hover {
    color: #000;
    background-color: #fff;
}
.fale-conosco {
    margin-right: 1rem;
}
.button-ver-video {
    border: none !important;
}
.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services-container {
    background-color: #000;
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10rem 0;
}
.service {
    position: relative;
    padding: 3.5rem 2rem;
    color: #fff;
    width: 20.4rem;
    height: 25rem;
    border: 0.1rem solid #ffffff3b;
    transition: 1.5s;
}
.service .service-name {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.service .service-description {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
}
.service .service-icon {
    /*
        Waiting Itens
    */
}
.service:hover {
    transform: translateY(-5rem);
    background-color: #fff;
    color: #000;
}
.nav-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0%;
    background-color: #fff;
    transition: 0.5s;
    display: none;
}
.menu-container {
    position: relative;
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-container .parte-de-cima-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3.5rem;
}
.parte-de-cima-menu .close-menu-button {
    font-size: 3rem;
    display: inline-block;
    margin-right: 10%;
    position: relative;
    cursor: pointer;
}
.close-menu-button:hover {
    color: #000000b4;
}
.menu-container .parte-de-baixo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.parte-de-baixo-menu .mensagem .mensagem-text {
    font-size: 5rem;
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

.menu-title {
    font-size: 1.4rem;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    position: relative;
}
.menu-title::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    margin-left: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
}
.menu-itens {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-left: -2.5rem;
}
.menu-itens .menu-item-link {
    text-decoration: none;
}
.menu-item-link:nth-child(3) {
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}
.menu-item-link .menu-item {
    font-size: 4rem;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    text-transform: uppercase;
    color: #000000b7;
    line-height: 2;
    display: inline-block;
}
.menu-item-link .menu-item:hover {
    color: #000;
}
.social-title-of-menu {
    margin: 2rem 0;
}
.social-itens {
    padding-left: 0rem;
    margin-left: -2.5rem;
}
.social-itens .social-icon {
    font-size: 1.6rem;
    margin-right: 4rem;
}
.social-itens .social-midia-link {
    text-decoration: none;
    color: #000;
}

.contact-container-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000cf;
    z-index: 10;
    transition: 0.5s;
    display: none;
    opacity: 0;
}
.contact-container {
    position: relative;
    height: 90%;
    width: 75%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 11;
    transition: 0.5s;
    opacity: 0;
}
.contact-container .left-part {
    width: 25%;
    background-image: url('../IMG/rocket-lift-off-liftoff-astronautics-87089-L1.png');
    background-size: cover;
    position: relative;
}
.contact-container .left-part::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.619);
}
.contact-container .right-part {
    width: 65%;
    display: flex;
    align-items: center;
}
.close-menu-button-contact {
    position: absolute;
    display: inline-block;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    color: #000000a4;
    cursor: pointer;
}
.close-menu-button-contact:hover {
    color: #000;
}
.form-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.form-container .contact-question {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    position: relative;
    padding-left: 5rem;
}
.form-container .contact-question:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 4rem;
    margin-left: -5.0rem;
    height: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
}
.contact-title {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 3rem;
    margin-top: 1rem;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.row {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}
.row .contact-form-label {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
}
.row .contact-form-input {
    border: none;
    border-bottom: 0.1rem solid #000;
    color: #000;
    font-family: Montserrat, sans-serif;
    margin: 1rem 0;
}
.row-2 {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
}
.row-2 .column {
    display: inline-block;
}
.row-2 .column .contact-form-input {
    width: 90%;
}
.row-2 .column:nth-child(2) .contact-form-input {
    width: 100%;
}
.row-3 textarea{
    resize: none;
    height: 7.5rem;
    margin-top: 1rem;
    width: 100%;
    border: none;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.619);
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
}
.row-4 {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 2rem;
}
.row-4 .submit-button {
    border: 0.1rem solid #000;
    color: #000;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    font-family: Montserrat, sans-serif;
    background-color: #fff;
    cursor: pointer;
}
.row-4 .submit-button:hover {
    background-color: #000;
    color: #fff;
}
.row-4 .social-itens .social-midia-link:nth-child(3) i{
    margin-right: 0;
}
.um-pouco-sobre-nos-container {
    width: 80%;
    position: relative;
    margin: 20rem 0;
}
.um-pouco-sobre-nos-content {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}
.um-pouco-sobre-nos-content-description {
    position: absolute;
    width: 60%;
    color: #fff;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
.um-pouco-sobre-nos-content-description .heading3 {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    position: relative;
    margin-left: 2.5rem;
}
.um-pouco-sobre-nos-content-description .heading3::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    margin-left: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
}
.um-pouco-sobre-nos-content-description .heading1 {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 4.5rem;
    margin: 1.5rem 0;
    text-transform: uppercase;
}
.um-pouco-sobre-nos-content-description .text {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    border-left: 0.2rem solid #EA4848;
    padding-left: 1rem;
}
.um-pouco-sobre-nos-content-img-container {
    position: relative;
    width: 60%;
    height: 40rem;
    background-image: url('../IMG/marcus-graham-project.png');
    object-fit: cover;
    margin-left: auto;
}
.um-pouco-sobre-nos-content-img-container::after {
    content: '';
    width: 1rem;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #EA4848;
}
.feitos-por-nos-container {
    width: 90%;
    align-self: flex-end;
    background-color: #fff;
    border-left: 1rem solid #EA4848;
    box-sizing: border-box;
    margin: 10rem 0;
    padding: 25rem 0 15rem 0;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    position: relative;
}
.feitos-por-nos-content {
    width: 90%;
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
    margin-left: auto;
    position: relative;
}
.feitos-por-nos-content-description {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.feitos-por-nos-content-description-section {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    position: relative;
    padding-left: 5rem;
}
.feitos-por-nos-content-description-section::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 4rem;
    margin-left: -5.0rem;
    height: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
}
.feitos-por-nos-content-description-title {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 4.5rem;
    
}
.feitos-por-nos-content-description-text {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
}
.feitos-por-nos-content-description-controlador-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 2rem;
}
.feitos-por-nos-content-description-controlador-buttons {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.button-controlador {
    border: none;
    padding: 2rem;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.button-controlador .button-icon {
    font-size: 1.4rem;
}
.button-controlador:hover {
    background-color: #000000cc;
}
.ver-mais-button {
    position: relative;
    border: none;
    color: #000;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
}
.ver-mais-button::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.2rem;
    background-color: #000;
    bottom: -20%;
    left: 0;
    transition: 0.5s;
}
.ver-mais-button:hover::after {
    width: 100%;
}
.feitos-por-nos-content-projects-container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 2rem;
}
.project {
    width: 30rem;
    height: 30rem;
    position: relative;
    border: none;
    box-shadow: #000;
    flex-shrink: 0;
    margin-right: 4.5rem;
}
.project::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    right: 5%;
    border: 0.1rem solid #707070;
}
.camada-de-filtro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.626);
    z-index: 1;
}
.project-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border: none;
}
.project-description {
    color: #fff;
    position: absolute;
    bottom: 5%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
/*Stop Point*/
.project-description  {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
}
.project-description p {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
}
.container-de-informacoes-e-contactos {
    width: 80%;
    position: relative;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}
.subscreva-newsletter-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #fff;
    margin-bottom: 10rem;
}
.subscreva-newsletter-text-container h1 {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 4.5rem;
    margin-bottom: 1rem;
}
.subscreva-newsletter-text-container p {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
}
.subscreva-newsletter-fale-conosco-button {
    border: 0.1rem solid #fff;
    height: 10%;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.subscreva-newsletter-fale-conosco-button:hover {
    background-color: #fff;
    color: #000;
}
.subscreva-newsletter-container-2 {
    margin: 5rem 0;
    background-color: #fff;
    display: flex;
    position: relative;
    justify-content: center;
}
.subscreva-newsletter-container-2-1 {
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscreva-newsletter-container-2-1-title {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 4.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}
.subscreva-newsletter-container-2-1-text {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    margin-top: 0;
}
.subscreva-newsletter-container-2-1-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    border: 0.1rem solid #000;
    padding: 0.5rem;
    width: 95%;
}
.subscreva-newsletter-container-2-1-form input {
    border: none;
    box-sizing: unset;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    margin-right: 1rem;
}
.subscreva-newsletter-container-2-1-form button[type="submit"] {
    border: none;
    background-color: #000;
    padding: 1rem 2rem;
    color: #fff;
}
.mais-sobre-nos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin: 10rem 0;
}
.mais-sobre-nos-item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    color: #fff;
    width: 22rem;
    height: 30.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #707070;
}
.mais-sobre-nos-item .icon-container {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 50%;
    background-color: #f4f4f4;
    color: #000;
}
.icon-container i {
    font-size: 2.5rem;
}
.mais-sobre-nos-item-nome {
    text-transform: uppercase;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 2.5rem;
    margin: 2rem 0;
}
.mais-sobre-nos-text {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
}
footer {
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-top: 0.1rem solid #939393b5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
} 
footer p {
    margin: 0;
    margin-top: 2.5rem;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
}
@media only screen and (max-width: 1024px) {
    .nav-menu {
        width: 90%;
        height: 80vh;
    }
    .parte-de-baixo-menu {
        flex-wrap: wrap;
    }
    .menu-itens-e-social {
        position: relative;
        margin-left: 10%;
    }
    .main-header {
        height: 80vh;
    }
    .main-content {
        width: 100%;
    }
    .main-content .main-content-title {
        font-size: 3.5rem;
    }
    .main-content .main-content-text {
        font-size: 1.6rem;
    }
    .services-container {
        width: 80%;
        justify-content: center;
    }
    .service {
        margin: 2rem;
    }
    .um-pouco-sobre-nos-container {
        width: 100%;
    }
    .um-pouco-sobre-nos-container .um-pouco-sobre-nos-content {
        flex-direction: column;
        align-items: center;
    }
    .um-pouco-sobre-nos-content-description {
        width: 95%;
        position: relative;
    }
    .um-pouco-sobre-nos-content-img-container {
        width: 100%;
        margin-left: 0;
    }
    .feitos-por-nos-container {
        width: 100%;
    }
    .feitos-por-nos-content {
        flex-direction: column;
    }
    .feitos-por-nos-content-description {
        width: 100%;
    }
    .feitos-por-nos-container {
        padding: 10rem 0 5rem 0;
    }
    .feitos-por-nos-content-description-title {
        font-size: 2.5rem;
    }
    .feitos-por-nos-content-description-controlador-container {
        display: none;
    }
    .feitos-por-nos-content-projects-container {
        width: 90%;
        margin-top: 1.5rem;
        flex-wrap: wrap;
        padding: 0;
    }
    .project {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .project::before {
        display: none;
    }
    .container-de-informacoes-e-contactos {
        width: 100%;
    }
    .subscreva-newsletter-container-1 {
        flex-direction: column;
    }
    .subscreva-newsletter-text-container h1 {
        text-align: center;
        font-size: 3.5rem;
    }
    .subscreva-newsletter-text-container p {
        text-align: center;
    }
    .subscreva-newsletter-container-2-1-title {
        text-align: center;
        font-size: 3.5rem;
    }
    .subscreva-newsletter-container-2-1-text {
        text-align: center;
    }
    .mais-sobre-nos-container {
        width: 80%;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        
    }
    .mais-sobre-nos-item {
        margin: 1rem;
    }
}

@media only screen and (max-width: 760px) {
    .nav-menu {
        width: 100% !important;
        height: 100vh;
    }
    .parte-de-baixo-menu {
        flex-wrap: wrap;
    }
    .menu-itens-e-social {
        position: relative;
        margin-left: 10%;
    }
    .main-header {
        height: 100vh;
    }
    .main-content {
        width: 100%;
    }
    .menu-container {
        width: 90%;
    }
    .main-content .main-content-title {
        font-size: 2.5rem;
    }
    .main-content .main-content-text {
        font-size: 1.6rem;
    }
    .menu-container .parte-de-cima-menu {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .menu-container .parte-de-cima-menu i {
        padding-right: 0;
        margin-right: 0;
    }
    .services-container {
        width: 100%;
        justify-content: center;
    }
    .service {
        margin-bottom: 3rem;
    }
    .um-pouco-sobre-nos-container {
        width: 100%;
    }
    .um-pouco-sobre-nos-container .um-pouco-sobre-nos-content {
        flex-direction: column;
        align-items: center;
    }
    .um-pouco-sobre-nos-content-description {
        width: 95%;
        position: relative;
    }
    .um-pouco-sobre-nos-content-img-container {
        width: 100%;
        margin-left: 0;
    }
    .feitos-por-nos-container {
        width: 100%;
    }
    .feitos-por-nos-content {
        flex-direction: column;
    }
    .feitos-por-nos-content-description {
        width: 100%;
    }
    .feitos-por-nos-container {
        padding: 10rem 0 5rem 0;
    }
    .feitos-por-nos-content-description-title {
        font-size: 2.5rem;
    }
    .feitos-por-nos-content-description-controlador-container {
        display: none;
    }
    .feitos-por-nos-content-projects-container {
        width: 90%;
        margin-top: 1.5rem;
        flex-direction: column;
        padding: 0;
    }
    .project {
        margin-bottom: 5rem;
    }
    .project::before {
        display: none;
    }
    .container-de-informacoes-e-contactos {
        width: 100%;
    }
    .subscreva-newsletter-container-1 {
        flex-direction: column;
    }
    .subscreva-newsletter-text-container h1 {
        text-align: center;
        font-size: 3.5rem;
    }
    .subscreva-newsletter-text-container p {
        text-align: center;
    }
    .subscreva-newsletter-container-2-1-title {
        text-align: center;
        font-size: 3.5rem;
    }
    .subscreva-newsletter-container-2-1-text {
        text-align: center;
    }
    .mais-sobre-nos-container {
        justify-content: center;
    }
    .mais-sobre-nos-item {
        margin-bottom: 5rem;
    }
}